
@font-face {
  font-family: 'AbyssinicaSILW';
  font-style: normal;
  font-weight: 400;
  src: url(https://raw.githubusercontent.com/MiyaDumbo/amhric-font/main/AbyssinicaSIL-Regular.woff2) format('woff2');
}
